<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
{% extends 'dashboard1.html' %}
{% block head %}
<script>

    $(document).ready(function () {
        $("button#search").click(function () {

            var br = $('#info').val();
            // console.log(br);
            $.ajax({
                type: 'POST',
                url: "/serinfo",
                data: { brand: br },

                success: function (response) {
                    // console.log(response);
                    var json = $.parseJSON(response);

                    // console.log(json.des);
                    // var desc = unescape(json.des)
                    // console.log(desc)

                    if (json.img == "/static/images/footer/poweredby_mediawiki_88x31.png" || json.img == "") {

                        document.getElementById("res").innerHTML = "No results found";
                        document.getElementById("image").src = "";
                    }
                    else {
                        document.getElementById("image").src = json.img;
                        document.getElementById("res").innerText = json.des;
                    }

                }
                // error: function (jqXHR, textStatus, errorThrown) {
                //     if (jqXHR.status == 404 || errorThrown == 'Not Found') {
                //         console.log('There was a 404 error.');
                //         document.getElementById("res").innerText = "No results found";
                //         document.getElementById("image").src = json.img;
                //     }
                // }
            });

        });
    })
</script>
{% endblock %}
{% block body %}


<!-- <body> -->
<h1 align="center" style="padding:20px;" class="text-5xl">WELCOME</h1>
<!-- <div class="box-border h-32 w-300 p-4 border-4 my-10 bg--300">Search</div> -->
<div class="font-sans text-black h-50 bg- flex items-center justify-center">
    <div class="border rounded overflow-hidden flex">
        <input type="text" class="px-12 py-3 text-2xl" placeholder="Search..." id="info">
        <button id="search" class="flex items-center justify-center px-4 border-l" style="background: #00B4CC;">
            <svg class="h-4 w-4 text-grey-dark" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24">
                <path
                    d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
            </svg>
        </button>
    </div><br>

</div>
<div>
    <p id="res"></p>
    <img src="" id="image">
</div>
{% endblock %}