<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
{% extends 'dashboard1.html' %}
{% block body %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1 align="center">WELCOME</h1>
<!--<h1>Admin Home</h1>-->
<!--<p><a href="manageinfo">Add and Manage</a></p>-->
<!--<p><a href="verifyuserinfo">Verify user info</a></p>-->
<!--<p><a href="viewquiz">Quiz</a></p>-->
<!--<p><a href="viewfeedback">Reply inventors</a></p>-->
<!--<p><a href="verifycomment">Verify Comment</a></p>-->
<!--<p><a href="verifycertificate">Verify Patent</a></p>-->
<!--<p><a href="Changepassword">Change password</a></p>-->
<!--<p><a href="logout">Log out</a></p>-->
</body>
{% endblock %}
</html>
