<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'dashboard1.html' %}
{% block body %}


<body>
<h1 align="center">Change Password</h1>
<form id="form1" name="form1" method="post" action="/chpsw" >

  <table width="500" border="0" align="center">
    <tr>
      <th width="259" height="51" scope="row">Old Password:</th>
      <td width="223"><input type="password" name="oldpsw" id="textfield" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/></td>
    </tr>
    <tr>
      <th height="47" scope="row">New Password:</th>
      <td><input type="password" name="newpsw" id="textfield2" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/></td>
    </tr>
    <tr>
      <th height="56" scope="row">Confirm Password:</th>
      <td><input type="password" name="conpsw" id="textfield3" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/></td>
    </tr>
    <tr>
      
      <th height="97" colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" class="btn btn-info"/></th>
    </tr>
  </table>

</form>
<p>&nbsp;</p>
</body>
{% endblock %}
<!--</html>-->
