<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'dashboard.html' %}
{% block body %}
<body>
<!--<h1 align="center">Login</h1><br>-->
<!--<form id="form1" name="form1" method="post" action="newlogin">-->
  <!--<table width="500" border="0" align="center" class="table">-->
    <!--<tr align="center">-->
      <!--<th height="39" scope="row">Username:</th>-->
      <!--<td><input type="text" name="name" id="textfield" required class="form-control"/></td>-->
    <!--</tr>-->
    <!--<tr align="center" >-->
      <!--<th height="39" scope="row">Password:</th>-->
      <!--<td><input type="password" name="pswd"  class="form-control" id="textfield2" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/></td>-->
    <!--</tr>-->
    <!--<tr align="center">-->
      <!--<th height="42" colspan="2" scope="row"><input type="submit" name="button" id="button" value="Login" class="btn btn-primary"/>-->
      <!--&lt;!&ndash;<a href="usersign">Sign Up</a><br><a href="invdetails">Inventor Sign up</a></th>&ndash;&gt;-->
    <!--</tr>-->
  <!--</table>-->
</form>
</body>
{% endblock %}
<!--</html>-->
