<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'dashboard3.html' %}
{% block body %}
<body>
<h1 align="center">WELCOME</h1>
<!--<h1>Inventor Home</h1>-->
<!--<p><a href="managpatent">Add and Manage</a></p>-->
<!--<p><a href="viewpatent">View Patent</a></p>-->
 <!--&lt;!&ndash;<p><a href="">Comment</a></p>&ndash;&gt;-->
<!--<p><a href="doubtview">View Doubt</a></p>-->
<!--<p><a href="feedback">Talk with Admin</a></p>-->
<!--<p><a href="inventorchat">Chat</a></p>-->
<!--<p><a href="Changepassword">Change password</a></p>-->
<!--<p><a href="/">Logout</a></p>-->



</body>
{% endblock %}
<!--</html>-->
