{% extends 'dashboard3.html' %}
{% block body %}

<div style="padding: 10px;">

<table width="500" border="2" class="table table-hover" style="padding: 10px;">
  <thead class="thead-dark">
  <tr>
    <th width="50" height="38" scope="row">Year</th>
     <th width="150">Invention</th>
    <th width="150">Inventor Name</th>
    <th width="300">Description</th>
    <th width="100">Image</th>
    <!-- <th width="96">Video Link</th> -->
  </tr>
  </thead>
  {% for i in val %}
  <tr>
    <td scope="row">&nbsp;{% if i[1]<0 %}BC{% endif %}{{i[1]}}</td>
    <td><a href="/more_details1?id={{i[0]}}">{{i[2]}}</a></td>
    <td>&nbsp;{{i[3]}}</td>
    <td>&nbsp;{{i[4]}}</td>
    <td>&nbsp;{% if i[7]|string =="1" %}<a href="{{i[5]}}"> <img src="{{i[5]}}" > </a>{% else %}<a href="../static/image/{{i[5]}}"> <img src="{{i[5]}}" ></a> {% endif %}</td>
    <!-- <td><a href="https://www.youtube.com/results?search_query={{i[2]}}">video Link</a></td> -->
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}