<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>Add Certificate Details</h1>
<form action="/upcerti" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="500" border="0">
    <tr>
      <th height="91" scope="row">Description</th>
      <td><textarea name="descr" id="textarea" cols="45" rows="5" required></textarea></td>
    </tr>
    <tr>
      <th height="31" scope="row">Certificate</th>
      <td><input type="file" name="certi" id="fileField" required/></td>
    </tr>
    <tr>
      <th height="32" colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" /></th>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
</body>
</html>
