<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'dashboard2.html' %}
{% block body %}
<body>
<h1 align="center"> Comment</h1>
<form id="form1" name="form1" method="post" action="/commadd">
  <table width="437" border="0" class="table table-hover" >
    <tr>
      <th width="152" height="102" scope="row">Comment:</th>
      <td width="275"><textarea name="comm" id="textfield" cols="45" rows="5" required/></textarea></td>
    </tr>
    <tr>
      <th height="95" colspan="2" align="right" valign="middle" scope="row"><input type="submit" name="button" class="btn btn-info" id="button" value="Submit" /></th>
    </tr>
  </table>
</form>
<p>&nbsp;</p>
</body>
{% endblock %}
<!--</html>-->
