<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'dashboard2.html' %}
{% block body %}
<body>
<h1 align="center">Inventor Reply</h1>
<table width="563" border="2" class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th width="153" height="29" scope="row">Inventor</th>
    <th width="128" scope="row">Doubt</th>
	
    <th width="143">Reply</th>
	<th width="109">Date</th>
  </tr>
  </thead>
  {% for i in val %}
  <tr>
    <td height="39">{{i[3]}}{{i[4]}}</td>
    <td scope="row">{{i[0]}}</td>
	
    <td>&nbsp;{{i[5]}}</td>
	<td>{{i[2]}}</td>
  </tr>
  {% endfor %}

</table>
</body>
{% endblock %}
<!--</html>-->
