<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'dashboard2.html' %}
{% block body %}
<body>
<h1>Send Doubt</h1>
<form id="form1" name="form1" method="post" action="usddoubt">
  <table width="200" border="0">
    <tr>
      <th>Doubt:</th>
      <td><label>
        <textarea name="textarea" cols="45" rows="5" required></textarea>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><p align="center"> <label>
        <input type="submit" name="Submit" value="Send" class="btn btn-info"/>
      </label></p></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
