<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'dashboard2.html' %}
{% block body %}
<body>
<h1 align="center">WELCOME</h1>
<!--<h1>User Home</h1>-->
<!--<p><a href="viewinfo">View information</a></p>-->
<!--<p><a href="viewupl">Upload information</a></p>-->
<!--<p><a href="addcomm">comment</a></p>-->
<!--<p><a href="viewcomm">View comment</a></p>-->
<!--<p><a href="attendq">Attend Quiz</a></p>-->
<!--&lt;!&ndash;<p><a href="viewcerti">Add Certificate details</a></p>&ndash;&gt;-->
<!--<p><a href="userviewpatent">View Patents</a></p>-->
<!--<p><a href="usraskdoubt">Ask Doubt</a></p>-->
<!--<p><a href="inventorreply">Inventor Reply</a></p>-->
<!--<p><a href="Changepassword">Change password</a></p>-->
<!--<p><a href="/">Log out</a></p>-->
</body>
{% endblock %}
<!--</html>-->
